.element__like {
  background: url(../../../image/likeVector.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.element__like:hover {
  opacity: 0.5;
  transition: ease;
}