.popup__input {
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
  width: 100%;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0, 0.2);
  padding: 12px 0 9px;
  margin-top: 10px;
}

.popup__input:nth-of-type(1) {
  margin-top: 0;
}

.popup__input::placeholder {
  color: #000000;
}

